@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Exo 2", sans-serif;
    background-image: url(" https://i1.faceprep.in/ProGrad/sky-moon-bg.png  ");
    background-size: 100% 100%;
    width: 100vw;
    height:100vh;
}
#astronaut1{
    position: absolute;
    height: 500px;
    top: 5%;
    left:5%;
animation: floating 2s infinite ease-in-out;

}
#astronaut2{
    position: absolute;
    height:425px;
    top: 30%;
    left: 30%;
    animation: floating 2s infinite ease-in-out;
}

form{
    background-color: white;
    position: absolute;
    top: 15%;
    left: 65%;
    width: 450px;
    padding: 0px 75px;
    border-radius: 5px;
}

.block-display{
    display: block;
}

label{
    font-size: 16px;
    margin: 20px 0px 4px 0px ;
}
select,input[type="number"],
input[type="text"]{
     width: 300px;
     height: 40px;
     border: 1px solid grey;
     padding: 0px 5px;
}
.rent-label{
    margin-right: 20px;
}
#button{
    display: block;
    background-color: #ec7920;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    border:none;
    margin: 40px auto;
}
h1{
    text-align: center;
    margin: 20px auto;
    font-size: 1.6em;
    width: 28opx;
}

@keyframes floating{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(30px);
    }

    100%{
        transform: translateY(0px);
    }
}